/* Resetando margens e paddings e garantindo uma boa base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilos gerais do corpo da página */
body {
    background-color: #000;  /* Fundo preto */
    color: #fff;             /* Texto branco para contraste */
    line-height: 1.6;
    padding: 20px;
}

/* Cabeçalho */
header {
    background-color: #fff;  /* Cabeçalho branco */
    color: #000;             /* Texto preto no cabeçalho */
    padding: 50px 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

header h1 {
    font-size: 3rem;
    font-weight: 600;
}

header p {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Seções */
section {
    margin-bottom: 50px;
}

section h2 {
    font-size: 2rem;
    color: #fff;             /* Título branco para contraste */
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
}

section h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background-color: #fff; /* Barra branca embaixo do título */
}

/* Galeria de Imagens */
.galeria-imagens {
    display: block;
    margin: 0 auto; /* Centraliza as imagens */
    max-width: 900px; /* Define um limite máximo de largura */
}

.galeria-imagens img {
    width: 100%;
    height: auto;
    margin-bottom: 20px; /* Espaçamento entre as imagens */
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.galeria-imagens img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilos para o botão de download */
#download {
    text-align: center;
    margin-top: 40px;
}

#download .btn-download {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #fff; /* Fundo branco para o botão */
    color: #000;            /* Texto preto */
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#download .btn-download:hover {
    background-color: #e0e0e0; /* Cor mais clara para o efeito de hover */
}

/* Rodapé */
footer {
    background-color: #fff; /* Fundo branco para o rodapé */
    color: #000;            /* Texto preto */
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.2rem;
    }

    section h2 {
        font-size: 1.6rem;
    }

    .galeria-imagens img {
        max-width: 100%;
    }
}
